.truck {
    display: flex;
    flex-wrap: wrap;
    /* Permite quebrar linha */
    justify-content: center;
    align-items: center;
    margin-left: -18%;
}

.icon_canto {
    width: fit-content;
}

.icon_truck {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.icon-nav {
    width: 100%;
    height: 219px;
    max-width: 800px;
    height: auto;
    display: block;
    margin: 0 auto;
}


.svg-decorativo {
    width: 100%;
    height: auto;
    display: block;
}

.texto-truck {
    display: flex;
    justify-content: center;
    width: 50%;
    max-width: 600px;
    padding: 10px 20px;
    font-family: "Ancizar Sans", sans-serif;
    font-weight: bold;
    margin: 20px auto;
    position: relative;
    background-color: #e6f3fc;
    text-align: center;
    border-radius: 18px 18px 0 0;
    height: 28px;
    font-size: 12px;
}

.texto-truck::before {
    content: "";
    position: absolute;
    inset: 0;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 18px 18px 0 0;
    pointer-events: none;
    box-shadow: 1px -7px 0px 3px rgba(0, 0, 0, 0.1);
}

.cotacao{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.div-cotacao{
    margin-top: 2%;
    width: 100%;
}

.texto-cotacao{
    font-size: 150%;
}

.botao-cotacao{
    background-color: #ffc300;
    border: 1px solid #ffc300;
    border-radius: 18px;
    padding: 10px 20px;
}

.link-cotacao{
    font-size: 150%;
}


/* Para telas menores que 768px (celular) */
@media (max-width: 768px) {
    .truck {
        align-items: center;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            margin-left: 0%;
    }

    .icon-nav {
        width: 65%;
        max-width: 100%;
        height: auto;
        position: static;
        margin-top: 10px;
    }

    .svg-decorativo {
        width: 130%;
        margin: 0 auto;
    }

    .texto-truck h1 {
        font-size: 1.2em;
        /* Menor para caber bem */
    }

    .texto-cotacao {
        font-size: 100%;
        margin-top: 10%;   
    }

    .div-cotacao{
        margin-top: 5%;
    }

}